In [2]:
import pandas as pd
df = pd.read_csv(r"C:\Users\htete\Downloads\movie_ratings.csv", index_col=0)
df.head()

           Oppenheimer  Barbie  Confupanda  No Way Home  Spider-Man
user
Alice              NaN     4.0         5.0            4         5.0
Thaw               5.0     3.0         5.0            3         NaN
David              3.0     NaN         5.0            4         3.0
Lily               5.0     NaN         4.0            5         3.0
Christian          3.0     4.0         NaN            5         3.0

In [3]:
user_avg = df.mean(axis=1, skipna=True)   # avg per user (row mean)
movie_avg = df.mean(axis=0, skipna=True)  # avg per movie (column mean)
print(user_avg)
print(movie_avg)

user
Alice        4.50
Thaw         4.00
David        3.75
Lily         4.25
Christian    3.75
dtype: float64
Oppenheimer    4.000000
Barbie         3.666667
Confupanda     4.750000
No Way Home    4.200000
Spider-Man     3.500000
dtype: float64

In [4]:
def min_max_norm(row):
    mn = row.min(skipna=True)
    mx = row.max(skipna=True)
    if pd.isna(mn) or pd.isna(mx) or mx==mn:
        return row.apply(lambda x: pd.NA)   # not enough variation
    return (row - mn) / (mx - mn)

norm_df = df.apply(min_max_norm, axis=1)
# averages after normalization:
user_avg_norm = norm_df.mean(axis=1, skipna=True)
movie_avg_norm = norm_df.mean(axis=0, skipna=True)

In [5]:
# Display the normalized ratings table
display(norm_df)

# Display average per user (normalized)
print("\nAverage normalized rating per user:")
display(user_avg_norm)

# Display average per movie (normalized)
print("\nAverage normalized rating per movie:")
display(movie_avg_norm)

           Oppenheimer  Barbie  Confupanda  No Way Home  Spider-Man
user
Alice              NaN     0.0         1.0          0.0         1.0
Thaw               1.0     0.0         1.0          0.0         NaN
David              0.0     NaN         1.0          0.5         0.0
Lily               1.0     NaN         0.5          1.0         0.0
Christian          0.0     0.5         NaN          1.0         0.0

Average normalized rating per user:

user
Alice        0.500
Thaw         0.500
David        0.375
Lily         0.625
Christian    0.375
dtype: float64

Average normalized rating per movie:

Oppenheimer    0.500000
Barbie         0.166667
Confupanda     0.875000
No Way Home    0.500000
Spider-Man     0.250000
dtype: float64